<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Travel System</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" 
            [routerLink]="['/swip-card']" routerLinkActive="is-active" href="javascript:void(0);">Swip Card</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" 
            [routerLink]="['/travel-history']" routerLinkActive="is-active" href="javascript:void(0);">Travel History</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Menu</button>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <!-- <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="my-5 text-center">Travel Histor</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3">
            <form class="accountForm" [formGroup]="accountForm" id="accountForm">
                <div class="row mb-3">
                  <label for="cardId" class="col-sm-2 col-form-label">Card Id</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="cardId" formControlName="cardId" placeholder="Card Id">
                    <div *ngIf="(f.cardId.dirty || f.cardId.touched) && f.cardId.errors" class="text-danger">
                        <div *ngIf="f.cardId.errors.required">Card Id is required.</div>
                    </div>
                  </div>
                </div>
                
                  <div class="row mb-3">
                    <label for="mode" class="col-sm-2 col-form-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-primary w-100" [disabled]="accountForm.invalid" (click)="onSubmitAccountForm()"> Swip In </button>
                    </div>
                  </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="modal TravelHistoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title headline m-0" id="myModalLabel">Travel History Data </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">CardId</th>
                        <th scope="col">Entry Station Name</th>
                        <th scope="col">Exit Station Name</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Fare</th>
                        <th scope="col">Tripstart Date</th>
                        <th scope="col">Trip EndDate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let trips of tripsList">
                        <td scope="row">{{trips.cardId}}</td>
                        <td>{{trips.entryStationName}}</td>
                        <td>{{trips.exitStationName}}</td>
                        <td>{{trips.mode}}</td>
                        <td>{{trips.fare}}</td>
                        <td>{{trips.tripstartDate}}</td>
                        <td>{{trips.tripEndDate}}</td>
                      </tr>
                    </tbody>
                  </table>
                <!-- <div *ngFor="let trips of tripsList">
                <div class="mb-3 row">
                    <label for="cardId" class="col-sm-2 col-form-label">CardId</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="cardId" value="{{trips.cardId}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="entryStationName" class="col-sm-2 col-form-label">Entry StationName</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="entryStationName" value="{{trips.entryStationName}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="exitStationName" class="col-sm-2 col-form-label">Exit StationName</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="exitStationName" value="{{trips.exitStationName}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="mode" class="col-sm-2 col-form-label">Mode</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="mode" value="{{trips.mode}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="fare" class="col-sm-2 col-form-label">Fare</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="fare" value="${{trips.fare}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="tripstartDate" class="col-sm-2 col-form-label">Tripstart Date</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="tripstartDate" value="{{trips.tripstartDate}}">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="tripEndDate" class="col-sm-2 col-form-label">Trip EndDate</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control-plaintext" id="tripEndDate" value="{{trips.tripEndDate}}">
                    </div>
                  </div>
                  </div> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title headline m-0" id="myModalLabel">Travel History </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">
                <h3>{{responseDescError}}</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal"> Ok</button>
            </div>
        </div>
    </div>
</div>